@font-face {
  font-family: myfont;
  src: url(../svg/fonts/Oxygen-Regular.ttf);
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-family: myfont;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
body {
  line-height: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}
input,
select {
  vertical-align: middle;
}
.clear {
  *zoom: 1;
  display: block;
}
.clear:after {
  content: "clear";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.title {
  width: 70%;
  color: #fff;
  font-size: 48px;
  text-align: center;
  padding-bottom: 62.4px;
  font-weight: 600;
  margin: 0 auto;
}
.title:after {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 1%;
  vertical-align: middle;
}
.title:before {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 1%;
  vertical-align: middle;
}
.title_1 {
  width: 70%;
  color: #333;
  font-size: 48px;
  text-align: center;
  padding-bottom: 62.4px;
  font-weight: 600;
  margin: 0 auto;
}
.title_1:after {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #333;
  margin: 0 1%;
  vertical-align: middle;
}
.title_1:before {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #333;
  margin: 0 1%;
  vertical-align: middle;
}
#qb {
  min-width: 1026px;
  height: 1750px;
  background: #f7f7f7;
}
#content {
  width: 1026px;
  height: 1730px;
  background: #FFF;
  margin: 0 auto;
  padding: 17px;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: #d9d9d9 0px 0px 10px;
  -moz-box-shadow: #d9d9d9 0px 0px 10px;
  box-shadow: #d9d9d9 0px 0px 10px;
}
#rm {
  width: 989px;
  height: 277px;
  margin-bottom: 25px;
}
#rm-lf {
  width: 209px;
  height: 271px;
  float: left;
}
#rm-lf-tp {
  width: 209px;
  height: 35px;
  margin-bottom: 12px;
}
#rm-lf-tp h3 a {
  color: #34a150;
  line-height: 34px;
}
#rm-lf-btm div a {
  line-height: 35px;
  font-size: 14px;
  text-align: center;
}
#rm-lf-btm div:first-child a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
}
#rm-lf-btm div:first-child a:hover {
  background: #34A150;
  color: #FFF;
}
#rm-lf-btm div:nth-child(2) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-left: 3px;
}
#rm-lf-btm div:nth-child(2) a:hover {
  background: #34A150;
  color: #FFF;
}
#rm-lf-btm div:nth-child(3) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(3) a:hover {
  background: #34A150;
  color: #FFF;
}
#rm-lf-btm div:nth-child(4) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-left: 3px;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(4) a:hover {
  background: #34A150;
  color: #FFF;
}
#rm-lf-btm div:nth-child(5) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(5) a:hover {
  background: #f8b61c;
  color: #FFF;
}
#rm-lf-btm div:nth-child(6) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-left: 3px;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(6) a:hover {
  background: #f8b61c;
  color: #FFF;
}
#rm-lf-btm div:nth-child(7) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(7) a:hover {
  background: #f8b61c;
  color: #FFF;
}
#rm-lf-btm div:nth-child(8) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-left: 3px;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(8) a:hover {
  background: #f8b61c;
  color: #FFF;
}
#rm-lf-btm div:nth-child(9) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(9) a:hover {
  background: #e4703d;
  color: #FFF;
}
#rm-lf-btm div:nth-child(10) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-left: 3px;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(10) a:hover {
  background: #e4703d;
  color: #FFF;
}
#rm-lf-btm div:nth-child(11) a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-top: 3px;
}
#rm-lf-btm div:nth-child(11) a:hover {
  background: #e4703d;
  color: #FFF;
}
#rm-lf-btm div:last-child a {
  width: 103px;
  height: 35px;
  background: #F7f7f7;
  float: left;
  color: #000;
  display: block;
  margin-left: 3px;
  margin-top: 3px;
}
#rm-lf-btm div:last-child a:hover {
  background: #e4703d;
  color: #FFF;
}
#rm-rg {
  width: 769px;
  height: 271px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#tj {
  width: 989px;
  height: 270px;
  margin-bottom: 20px;
}
#tj-tp {
  width: 989px;
  height: 30px;
  border-bottom: 2px solid #d6d6d6;
}
#tj-tp h3 a {
  color: #34a150;
  padding-bottom: 10px;
}
#tj-tp h3 a:hover {
  border-bottom: 2px solid #34a150;
}
#tj-btm {
  width: 989px;
  height: 215px;
}
#tj-btm-o {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 17px;
}
#tj-btm-o .p1 a {
  color: #333333;
  font-size: 14px;
}
#tj-btm-o .p1 {
  margin-top: 5px;
}
#tj-btm-o .p2 {
  margin-top: 5px;
}
#tj-btm-o .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#tj-btm-o .p1 a:hover {
  color: #f3b04f;
}
#tj-btm-o .p2 a:hover {
  color: #f3b04f;
}
#tj-btm-o .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#tj-btm-o .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#tj-btm-o img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#tj-btm-o img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#tj-btm-t {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#tj-btm-t .p1 a {
  color: #333333;
  font-size: 14px;
}
#tj-btm-t .p1 {
  margin-top: 5px;
}
#tj-btm-t .p2 {
  margin-top: 5px;
}
#tj-btm-t .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#tj-btm-t .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#tj-btm-t .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#tj-btm-t .p1 a:hover {
  color: #f3b04f;
}
#tj-btm-t .p2 a:hover {
  color: #f3b04f;
}
#tj-btm-t img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#tj-btm-t img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#tj-btm-h {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#tj-btm-h .p1 a {
  color: #333333;
  font-size: 14px;
}
#tj-btm-h .p1 {
  margin-top: 5px;
}
#tj-btm-h .p2 {
  margin-top: 5px;
}
#tj-btm-h .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#tj-btm-h .p3 a {
  width: 89px;
  height: 26px;
  background: #eca741;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
  margin-left: 70px;
  margin-top: 8px;
}
#tj-btm-h .p3 a:hover {
  background: #34a150;
  color: #FFF;
}
#tj-btm-h .p1 a:hover {
  color: #f3b04f;
}
#tj-btm-h .p2 a:hover {
  color: #f3b04f;
}
#tj-btm-h img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#tj-btm-h img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#tj-btm-f {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#tj-btm-f .p1 a {
  color: #333333;
  font-size: 14px;
}
#tj-btm-f .p1 {
  margin-top: 5px;
}
#tj-btm-f .p2 {
  margin-top: 5px;
}
#tj-btm-f .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#tj-btm-f .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#tj-btm-f .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#tj-btm-f .p1 a:hover {
  color: #f3b04f;
}
#tj-btm-f .p2 a:hover {
  color: #f3b04f;
}
#tj-btm-f img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#tj-btm-f img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#qy {
  width: 989px;
  height: 1115px;
}
#qy-lf {
  width: 716px;
  height: 1115px;
  float: left;
}
#qy-lf-o {
  width: 716px;
  height: 280px;
}
#qy-lf-o-tp {
  width: 716px;
  height: 30px;
  border-bottom: 2px solid #d6d6d6;
}
#qy-lf-o-tp h3 a {
  color: #34a150;
  padding-bottom: 10px;
}
#qy-lf-o-tp h3 a:hover {
  border-bottom: 2px solid #34a150;
}
#qy-lf-o-btm-1 {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#qy-lf-o-btm-1 .p1 a {
  color: #333333;
  font-size: 14px;
}
#qy-lf-o-btm-1 .p1 {
  margin-top: 5px;
}
#qy-lf-o-btm-1 .p2 {
  margin-top: 5px;
}
#qy-lf-o-btm-1 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#qy-lf-o-btm-1 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#qy-lf-o-btm-1 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#qy-lf-o-btm-1 .p1 a:hover {
  color: #f3b04f;
}
#qy-lf-o-btm-1 .p2 a:hover {
  color: #f3b04f;
}
#qy-lf-o-btm-1 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#qy-lf-o-btm-1 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#qy-lf-o-btm-2 {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#qy-lf-o-btm-2 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#qy-lf-o-btm-2 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#qy-lf-o-btm-2 .p1 a {
  color: #333333;
  font-size: 14px;
}
#qy-lf-o-btm-2 .p1 {
  margin-top: 5px;
}
#qy-lf-o-btm-2 .p2 {
  margin-top: 5px;
}
#qy-lf-o-btm-2 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#qy-lf-o-btm-2 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#qy-lf-o-btm-2 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#qy-lf-o-btm-2 .p1 a:hover {
  color: #f3b04f;
}
#qy-lf-o-btm-2 .p2 a:hover {
  color: #f3b04f;
}
#qy-lf-o-btm-3 {
  width: 223px;
  height: 193px;
  float: left;
  margin-top: 20px;
}
#qy-lf-o-btm-3 .p1 a {
  color: #333333;
  font-size: 14px;
}
#qy-lf-o-btm-3 .p1 {
  margin-top: 5px;
}
#qy-lf-o-btm-3 .p2 {
  margin-top: 5px;
}
#qy-lf-o-btm-3 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#qy-lf-o-btm-3 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#qy-lf-o-btm-3 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#qy-lf-o-btm-3 .p1 a:hover {
  color: #f3b04f;
}
#qy-lf-o-btm-3 .p2 a:hover {
  color: #f3b04f;
}
#qy-lf-o-btm-3 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#qy-lf-o-btm-3 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#xs-lf-t {
  width: 716px;
  height: 280px;
}
#xs-lf-o-tp {
  width: 716px;
  height: 30px;
  border-bottom: 2px solid #d6d6d6;
}
#xs-lf-o-tp h3 a {
  color: #34a150;
  padding-bottom: 10px;
}
#xs-lf-o-tp h3 a:hover {
  border-bottom: 2px solid #34a150;
}
#xs-lf-o-btm-1 {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#xs-lf-o-btm-1 .p1 a {
  color: #333333;
  font-size: 14px;
}
#xs-lf-o-btm-1 .p1 {
  margin-top: 5px;
}
#xs-lf-o-btm-1 .p2 {
  margin-top: 5px;
}
#xs-lf-o-btm-1 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#xs-lf-o-btm-1 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#xs-lf-o-btm-1 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#xs-lf-o-btm-1 .p1 a:hover {
  color: #f3b04f;
}
#xs-lf-o-btm-1 .p2 a:hover {
  color: #f3b04f;
}
#xs-lf-o-btm-1 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#xs-lf-o-btm-1 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#xs-lf-o-btm-2 {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#xs-lf-o-btm-2 .p1 a {
  color: #333333;
  font-size: 14px;
}
#xs-lf-o-btm-2 .p1 {
  margin-top: 5px;
}
#xs-lf-o-btm-2 .p2 {
  margin-top: 5px;
}
#xs-lf-o-btm-2 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#xs-lf-o-btm-2 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#xs-lf-o-btm-2 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#xs-lf-o-btm-2 .p1 a:hover {
  color: #f3b04f;
}
#xs-lf-o-btm-2 .p2 a:hover {
  color: #f3b04f;
}
#xs-lf-o-btm-2 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#xs-lf-o-btm-2 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#xs-lf-o-btm-3 {
  width: 223px;
  height: 193px;
  float: left;
  margin-top: 20px;
}
#xs-lf-o-btm-3 .p1 a {
  color: #333333;
  font-size: 14px;
}
#xs-lf-o-btm-3 .p1 {
  margin-top: 5px;
}
#xs-lf-o-btm-3 .p2 {
  margin-top: 5px;
}
#xs-lf-o-btm-3 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#xs-lf-o-btm-3 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#xs-lf-o-btm-3 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#xs-lf-o-btm-3 .p1 a:hover {
  color: #f3b04f;
}
#xs-lf-o-btm-3 .p2 a:hover {
  color: #f3b04f;
}
#xs-lf-o-btm-3 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#xs-lf-o-btm-3 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#rz-lf-h {
  width: 716px;
  height: 280px;
}
#rz-lf-o-tp {
  width: 716px;
  height: 30px;
  border-bottom: 2px solid #d6d6d6;
}
#rz-lf-o-tp h3 a {
  color: #34a150;
  padding-bottom: 10px;
}
#rz-lf-o-tp h3 a:hover {
  border-bottom: 2px solid #34a150;
}
#rz-lf-o-btm-1 {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#rz-lf-o-btm-1 .p1 a {
  color: #333333;
  font-size: 14px;
}
#rz-lf-o-btm-1 .p1 {
  margin-top: 5px;
}
#rz-lf-o-btm-1 .p2 {
  margin-top: 5px;
}
#rz-lf-o-btm-1 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#rz-lf-o-btm-1 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#rz-lf-o-btm-1 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#rz-lf-o-btm-1 .p1 a:hover {
  color: #f3b04f;
}
#rz-lf-o-btm-1 .p2 a:hover {
  color: #f3b04f;
}
#rz-lf-o-btm-1 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#rz-lf-o-btm-1 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#rz-lf-o-btm-2 {
  width: 223px;
  height: 193px;
  float: left;
  margin: 20px 20px 0px 0px;
}
#rz-lf-o-btm-2 .p1 a {
  color: #333333;
  font-size: 14px;
}
#rz-lf-o-btm-2 .p1 {
  margin-top: 5px;
}
#rz-lf-o-btm-2 .p2 {
  margin-top: 5px;
}
#rz-lf-o-btm-2 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#rz-lf-o-btm-2 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#rz-lf-o-btm-2 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#rz-lf-o-btm-2 .p1 a:hover {
  color: #f3b04f;
}
#rz-lf-o-btm-2 .p2 a:hover {
  color: #f3b04f;
}
#rz-lf-o-btm-2 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#rz-lf-o-btm-2 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#rz-lf-o-btm-3 {
  width: 223px;
  height: 193px;
  float: left;
  margin-top: 20px;
}
#rz-lf-o-btm-3 .p1 a {
  color: #333333;
  font-size: 14px;
}
#rz-lf-o-btm-3 .p1 {
  margin-top: 5px;
}
#rz-lf-o-btm-3 .p2 {
  margin-top: 5px;
}
#rz-lf-o-btm-3 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#rz-lf-o-btm-3 .p3 a {
  width: 58px;
  height: 24px;
  background: #34a150;
  color: #FFF;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: 165px;
}
#rz-lf-o-btm-3 .p3 a:hover {
  background: #eca741;
  color: #FFF;
}
#rz-lf-o-btm-3 .p1 a:hover {
  color: #f3b04f;
}
#rz-lf-o-btm-3 .p2 a:hover {
  color: #f3b04f;
}
#rz-lf-o-btm-3 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#rz-lf-o-btm-3 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#js-lf-f {
  width: 716px;
  height: 280px;
}
#js-lf-o-tp {
  width: 716px;
  height: 30px;
  border-bottom: 2px solid #d6d6d6;
}
#js-lf-o-tp h3 a {
  color: #34a150;
  padding-bottom: 10px;
}
#js-lf-o-tp h3 a:hover {
  border-bottom: 2px solid #34a150;
}
#js-lf-o-btm-1 {
  width: 130px;
  height: 221px;
  float: left;
  margin: 20px 15px 0px 0px;
}
#js-lf-o-btm-1 .p1 a {
  color: #333333;
  font-size: 14px;
}
#js-lf-o-btm-1 .p1 {
  margin-top: 8px;
}
#js-lf-o-btm-1 .p2 {
  margin-top: 5px;
}
#js-lf-o-btm-1 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#js-lf-o-btm-1 .p3 {
  width: 58px;
  height: 24px;
  background: #34a150;
  text-align: center;
  line-height: 20px;
  margin-left: 165px;
}
#js-lf-o-btm-1 .p3 a {
  color: #FFF;
  font-size: 12px;
}
#js-lf-o-btm-1 .p1 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-1 .p2 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-1 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#js-lf-o-btm-1 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#js-lf-o-btm-2 {
  width: 130px;
  height: 221px;
  float: left;
  margin: 20px 15px 0px 0px;
}
#js-lf-o-btm-2 .p1 a {
  color: #333333;
  font-size: 14px;
}
#js-lf-o-btm-2 .p1 {
  margin-top: 5px;
}
#js-lf-o-btm-2 .p2 {
  margin-top: 8px;
}
#js-lf-o-btm-2 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#js-lf-o-btm-2 .p3 {
  width: 58px;
  height: 24px;
  background: #34a150;
  text-align: center;
  line-height: 20px;
  margin-left: 165px;
}
#js-lf-o-btm-2 .p3 a {
  color: #FFF;
  font-size: 12px;
}
#js-lf-o-btm-2 .p1 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-2 .p2 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-2 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#js-lf-o-btm-2 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#js-lf-o-btm-3 {
  width: 130px;
  height: 221px;
  float: left;
  margin-top: 20px;
}
#js-lf-o-btm-3 .p1 a {
  color: #333333;
  font-size: 14px;
}
#js-lf-o-btm-3 .p1 {
  margin-top: 8px;
}
#js-lf-o-btm-3 .p2 {
  margin-top: 5px;
}
#js-lf-o-btm-3 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#js-lf-o-btm-3 .p3 {
  width: 58px;
  height: 24px;
  background: #34a150;
  text-align: center;
  line-height: 20px;
  margin-left: 165px;
}
#js-lf-o-btm-3 .p3 a {
  color: #FFF;
  font-size: 12px;
}
#js-lf-o-btm-3 .p1 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-3 .p2 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-3 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#js-lf-o-btm-3 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#js-lf-o-btm-4 {
  width: 130px;
  height: 221px;
  float: left;
  margin-top: 20px;
  margin-left: 12px;
}
#js-lf-o-btm-4 .p1 a {
  color: #333333;
  font-size: 14px;
}
#js-lf-o-btm-4 .p1 {
  margin-top: 8px;
}
#js-lf-o-btm-4 .p2 {
  margin-top: 5px;
}
#js-lf-o-btm-4 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#js-lf-o-btm-4 .p3 {
  width: 58px;
  height: 24px;
  background: #34a150;
  text-align: center;
  line-height: 20px;
  margin-left: 165px;
}
#js-lf-o-btm-4 .p3 a {
  color: #FFF;
  font-size: 12px;
}
#js-lf-o-btm-4 .p1 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-4 .p2 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-4 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#js-lf-o-btm-4 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#js-lf-o-btm-5 {
  width: 132px;
  height: 221px;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}
#js-lf-o-btm-5 .p1 a {
  color: #333333;
  font-size: 14px;
}
#js-lf-o-btm-5 .p1 {
  margin-top: 8px;
}
#js-lf-o-btm-5 .p2 {
  margin-top: 5px;
}
#js-lf-o-btm-5 .p2 a {
  color: #b6b6b6;
  font-size: 13px;
}
#js-lf-o-btm-5 .p1 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-5 .p2 a:hover {
  color: #f3b04f;
}
#js-lf-o-btm-5 .p3 {
  width: 58px;
  height: 24px;
  background: #34a150;
  text-align: center;
  line-height: 20px;
  margin-left: 165px;
}
#js-lf-o-btm-5 .p3 a {
  color: #FFF;
  font-size: 12px;
}
#js-lf-o-btm-5 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#js-lf-o-btm-5 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#qy-rg {
  width: 257px;
  height: 1115px;
  float: left;
  margin-left: 15px;
  margin-top: 26px;
}
#qy-rg-1 {
  width: 257px;
  height: 230px;
  border: 1px solid #e8e8e8;
  border-radius: 3%;
}
#qy-rg-1 img {
  padding: 30px 0px 12px 80px;
}
#qy-rg-1 img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#qy-rg-1 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#qy-rg-1 .p1 a {
  color: #0086b3;
  font-weight: bold;
  font-family: "微软雅黑";
  font-size: 20px;
  margin-left: 35px;
}
#qy-rg-1 .p2 {
  width: 124px;
  height: 33px;
  background: #0086b3;
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
  border-radius: 8%;
}
#qy-rg-1 .p2 a {
  color: #FFF;
  font-size: 12px;
  line-height: 33px;
}
#qy-rg-2 p {
  width: 257px;
  height: 30px;
  background: #34a150;
  margin-top: 12px;
  margin-bottom: 20px;
}
#qy-rg-2 p a {
  color: #FFF;
  padding: 7px 0px 7px 12px;
  line-height: 30px;
}
#qy-rg-2 ul li a {
  color: #000;
  font-size: 12px;
  line-height: 23px;
}
#qy-rg-2 ul li a:hover {
  color: #f3b04f;
}
#qy-rg-2 ul li:first-child {
  background-image: url(../images/pxrz_35.jpg);
  background-repeat: no-repeat;
  background-position: 70% 0%;
}
#qy-rg-3 {
  margin-top: 20px;
}
#qy-rg-3 img {
  float: left;
}
#qy-rg-3 img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#qy-rg-3 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#qy-rg-3 p a {
  color: #000;
  font-size: 14px;
  margin-left: 7px;
}
#qy-rg-3 ul {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
#qy-rg-3 ul li a {
  color: #000;
  font-size: 12px;
}
#qy-rg-4 img {
  width: 100%;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
#qy-rg-4 img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
#qy-rg-4 img {
  margin-top: 18px;
}
/*# sourceMappingURL=index.css.map */
