html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
body {
  line-height: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}
input,
select {
  vertical-align: middle;
}
.rccp {
  width: 100%;
}
.banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
#lunbo{
	width:100%;
	height:500px;
	overflow: hidden;
}
#lunbo img{
	width:100%;
	height:500px;
	overflow: hidden;
}
.rc {
  position: absolute;
  width: 500px;
  height: 340px;
  top: 25%;
  left: 32%;
}
.rc p:first-child {
  color: #fff;
  font-family: '微软雅黑';
  font-size: 25px;
  line-height: 80px;
  text-align: center;
}
.rc p:nth-child(2) {
  color: #fff;
  font-family: '微软雅黑';
  font-size: 50px;
  text-align: center;
  line-height: 40px;
}
.rc .liji {
  width: 270px;
  height: 70px;
  margin: 60px auto;
  background: #ff9900;
  line-height: 70px;
  border-radius: 5%;
}
.rc .liji img {
  margin: 10px 0 0 10px;
  float: left;
}
.rc .liji span {
  margin: 0 0 0 20px;
  font-family: '微软雅黑';
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.lv {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.lv1 {
  position: absolute;
  top: -30px;
  right: 148px;
}
.lv1 li {
  float: left;
  width: 150px;
  height: 60px;
  line-height: 80px;
  text-align: center;
  color: #000;
  font-family: '微软雅黑';
  font-size: 16px;
}
.lv11 {
  display: inline-block;
  width: 150px;
  height: 60px;
  background: url(../images/tt_03.png) no-repeat;
  color: #000;
  font-weight: bold;
  background-size: 150px 60px;
}
.lv22 {
  display: inline-block;
  width: 150px;
  height: 60px;
  background: url(../images/tt_04.png) no-repeat;
  color: #000;
  font-weight: bold;
}
.lv33 {
  display: inline-block;
  width: 150px;
  height: 60px;
  background: url(../images/tt_04.png) no-repeat;
  color: #000;
  font-weight: bold;
}
.lv44 {
  display: inline-block;
  width: 150px;
  height: 60px;
  background: url(../images/tt_06.png) no-repeat;
  color: #000;
  font-weight: bold;
}
.lv1 ol {
  width: 165px;
  height: 275px;
  border: 1px solid #d0d0d0;
  position: absolute;
  top: 60px;
  background: #f2f2f2;
  display: none;
}
.lv1 ol li {
  width: 165px;
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: #000;
}
.lv1 ol li a {
  color: #000;
}
.lv1 ol li a:hover {
  color: #fd6464;
}
.zai {
  width: 100%;
  height: 655px;
  background: #f7f7f7;
}
.zaixian {
  width: 1030px;
  height: 540px;
  margin: 0 auto;
  padding-top: 50px;
}
.zaix {
  width: 1030px;
  height: 365px;
}
.zaix .left {
  width: 660px;
  height: 470px;
  border: 1px solid #bfbfbf;
  float: left;
}
.zaix .left .xin {
  height: 40px;
  background: #2c9948;
  line-height: 40px;
}
.zaix .left .xin span {
  font-family: '微软雅黑';
  margin-left: 20px;
}
.zaix .left .xin span:last-child {
  float: right;
  margin-right: 20px;
  font-size: 12px;
  color: red;
}
.zaix .left .xin a {
  color: #d73a17;
}
.zaix .left .bottom {
  width: 660px;
  height: 430px;
}
.zaix .left .b_left {
  width: 300px;
  height: 365px;
  float: left;
  margin: 20px 0 0 20px;
}
.zaix .left .b_left p {
  height: 25px;
  line-height: 25px;
  font-family: '微软雅黑';
  font-size: 12px;
}
.zaix .left .b_left p:first-child {
  font-size: 13px;
  font-weight: bold;
}
.zaix .right {
  width: 345px;
  height: 470px;
  border: 1px solid #bfbfbf;
  float: left;
  margin-left: 23px;
}
.zaix .right .xin {
  height: 40px;
  background: #2c9948;
  line-height: 40px;
}
.zaix .right .xin span {
  font-family: '微软雅黑';
  margin-left: 20px;
}
.zaix .right .xin span:last-child {
  float: right;
  margin-right: 20px;
  font-size: 12px;
  color: red;
}
.zaix .right .xin a {
  color: #d73a17;
}
.zaix .right .bottom {
  width: 345px;
  height: 430px;
}
.zaix .right .b_left {
  width: 300px;
  height: 365px;
  float: left;
  margin: 20px 0 0 20px;
}
.zaix .right .b_left p {
  height: 25px;
  line-height: 25px;
  font-family: '微软雅黑';
  font-size: 12px;
}
.zaix .right .b_left p:first-child {
  font-size: 13px;
  font-weight: bold;
}
.zai .he {
  width: 1030px;
  height: 60px;
  border: 1px solid #bfbfbf;
  margin: 0 auto;
}
.zai .he .he1 {
  width: 120px;
  height: 60px;
  background: #000;
  text-align: center;
  line-height: 60px;
  font-family: '微软雅黑';
  color: #fff;
  float: left;
}
.zai .he ul {
  float: left;
}
.zai .he ul li {
  float: left;
  width: 65px;
  height: 60px;
  text-align: center;
}
.zai .he ul li img {
  margin-top: 10px;
  text-align: center;
}
.zai .he ul li p {
  font-family: '微软雅黑';
  font-size: 14px;
  line-height: 10px;
  margin-left: 8px;
}
.zai .he ul li .tao {
  margin-top: 1.5px;
}
/*# sourceMappingURL=rccp.css.map */
