<div ng-controller="zhuye">
	<div id="header">
		<div id="sheader">
			<div class="sheader_s">
				<a href="javascript">中国大学生就业培训网  |</a>
				<a href="javascript">网站地图</a>
				<div>
					<a href="javascript">全国免费咨询热线：</a>
					<a href="javascript">400-0000-123</a>
					<ul>
						<li><a ng-click="dl()">学生登录</a></li>
						<li><a>企业登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="logo">
			<div class="slogo">
				<img src="images/logo.png" />
				<input type="text" placeholder="在线搜索" />
			</div>
		</div>
		<div id="znav_big">
		<div id="znav">
			<ul>
				<li><a ng-click="sy()">首页</a></li>
				<li>
					<a ng-click="zc()">政策资讯</a>
				</li>
				<li>
					<a ng-click="zhuanjia()">专家指导</a>
					
				</li>
				<li>
					<a ng-click="rencai()">在线学习</a>
					
				</li>
				<li>
					<a ng-click="pxrz()">培训认证</a>
					
				</li>
				<li ng-click="CYpTcl()"><a>创业平台</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div ui-view></div>
	<div id="food">
		<div class="food_top">
			<ul>
				<li>
					<h3><a href="javascript">关于翔坤</a></h3>
					<p><a href="javascript">翔坤简介</a></p>
					<p><a href="javascript">管理团队</a></p>
					<p><a href="javascript">董事长致辞</a></p>
					<p><a href="javascript">加入翔坤</a></p>
					<p><a href="javascript">联系我们</a></p>
				</li>
				<li>
					<h3><a href="javascript">主营业务</a></h3>
					<p><a href="javascript">金属交流</a></p>
					<p><a href="javascript">高科技</a></p>
					<p><a href="javascript">煤机制造</a></p>
					<p><a href="javascript">教育</a></p>
					<p><a href="javascript">低碳环保</a></p>
					<p><a href="javascript">投资</a></p>
				</li>
				<li>
					<h3><a href="javascript">企业文化</a></h3>
					<p><a href="javascript">专家语录</a></p>
					<p><a href="javascript">企业文化</a></p>
					<p><a href="javascript">翔坤之歌</a></p>
					<p><a href="javascript">大事记</a></p>
				</li>
				<li>
					<h3><a href="javascript">咨询中心</a></h3>
					<p><a href="javascript">学员天地</a></p>
					<p><a href="javascript">媒体关注</a></p>
					<p><a href="javascript">领导讲话</a></p>
					<p><a href="javascript">行业新闻</a></p>
					<p><a href="javascript">企业新闻</a></p>
				</li>
				<li>
					<img src="../images/logo2.png" />
					<img src="../images/2weima.png" />
					<ul>
						<li>大学生就业咨询平台</li>
						<li>中国大学生一站式服务</li>
						<li>大学生相关用品商城</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="food_bottom">
			<div class="food_c">
				<a href="javascript">@2007-2014 大学生就业网版权所有 京ICP备09097961号</a>
				<div>
					<a>关于翔坤 |</a>
					<a> 翔坤团队 | </a>
					<a> 翔坤发展 | </a>
					<a> 法律法规 | </a>
					<a> 联系我们 </a>
				</div>
			</div>
		</div>
	</div>
</div>