
<div ng-controller='pxrz'>
	<div id="qb">
		<div id="content">
			<!--热门课程-->
			<div id="rm">
				<ul class="img">
					<lunbopxrz></lunbopxrz>
					<!--<li>
						<a href="javascript:;"><img src="../images/banner.jpg" alt="" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="../images/banner_1.jpg" alt="" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="../images/banner_2.jpg" alt="" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="../images/banner_3.jpg" alt="" /></a>
					</li>-->
					
				</ul>
				<ul class="num"></ul>
				<div class="left btnpeixun"><</div>
        		<div class="right btnpeixun">></div>
			</div>
			<!--推荐课程-->
			<div id="tj">
				<div id="tj-tp">
					<h3><a href="#">推荐课程</a></h3>
				</div>
				<div id="tj-btm">
					<div id="tj-btm-o">
						<img src="../images/pxrz_11.jpg" alt="" />
						<p class="p1"><a href="#">成为HR专家的75门必修课</a></p>
						<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
						<p class="p3"><a href="#">进入课堂</a></p>
					</div>
					<div id="tj-btm-t">
						<img src="../images/pxrz_13.jpg" alt="" />
						<p class="p1"><a href="#">UAndrioid平台2048游戏完整项...</a></p>
						<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
						<p class="p3"><a href="#">进入课堂</a></p>
					</div>
					<div id="tj-btm-h">
						<img src="../images/pxrz_15.jpg" alt="" />
						<p class="p1"><a href="#">UGC用户内容类网站运营 2人转</a></p>
						<p class="p2">
							<a href="#">
									路人甲 is第1代中国水军born猫扑,网络品牌传播专家,种子用户:路人乙 is N(年*
								</a>
						</p>
						<p class="p3"><a href="#">正在上课</a></p>
					</div>
					<div id="tj-btm-f">
						<img src="../images/pxrz_17.jpg" alt="" />
						<p class="p1"><a href="#">成为HR专家的75门必修课</a></p>
						<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
						<p class="p3"><a href="#">进入课堂</a></p>
					</div>
				</div>
			</div>
			<!--企业培训-->
			<div id="qy">
				<div id="qy-lf">
					<div id="qy-lf-o">
						<div id="qy-lf-o-tp">
							<h3><a href="#">企业培训</a></h3>
						</div>
						<div id="qy-lf-o-btm">
							<div id="qy-lf-o-btm-1">
								<img src="../images/pxrz_11.jpg" alt="" />
								<p class="p1"><a href="#">成为HR专家的75门必修课</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
							<div id="qy-lf-o-btm-2">
								<img src="../images/pxrz_13.jpg" alt="" />
								<p class="p1"><a href="#">UAndrioid平台2048游戏完整项...</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
							<div id="qy-lf-o-btm-3">
								<img src="../images/pxrz_11.jpg" alt="" />
								<p class="p1"><a href="#">成为HR专家的75门必修课</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
						</div>
					</div>
					<!--学生培训-->
					<div id="xs-lf-t">
						<div id="xs-lf-o-tp">
							<h3><a href="#">学生培训</a></h3>
						</div>
						<div id="xs-lf-o-btm">
							<div id="xs-lf-o-btm-1">
								<img src="../images/pxrz_11.jpg" alt="" />
								<p class="p1"><a href="#">成为HR专家的75门必修课</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
							<div id="xs-lf-o-btm-2">
								<img src="../images/pxrz_13.jpg" alt="" />
								<p class="p1"><a href="#">UAndrioid平台2048游戏完整项...</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
							<div id="xs-lf-o-btm-3">
								<img src="../images/pxrz_32.jpg" alt="" />
								<p class="p1"><a href="#">UAndrioid平台2048游戏完整项...</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
						</div>
					</div>
					<!--认证培训-->
					<div id="rz-lf-h">
						<div id="rz-lf-o-tp">
							<h3><a href="#">认证培训</a></h3>
						</div>
						<div id="rz-lf-o-btm">
							<div id="rz-lf-o-btm-1">
								<img src="../images/pxrz_11.jpg" alt="" />
								<p class="p1"><a href="#">成为HR专家的75门必修课</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
							<div id="rz-lf-o-btm-2">
								<img src="../images/pxrz_13.jpg" alt="" />
								<p class="p1"><a href="#">UAndrioid平台2048游戏完整项...</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
							<div id="rz-lf-o-btm-3">
								<img src="../images/pxrz_11.jpg" alt="" />
								<p class="p1"><a href="#">成为HR专家的75门必修课</a></p>
								<p class="p2"><a href="#">HRBar专业人力资源培训</a></p>
								<p class="p3"><a href="#">进入课堂</a></p>
							</div>
						</div>
					</div>
					<!--讲师团队-->
					<div id="js-lf-f">
						<div id="js-lf-o-tp">
							<h3><a href="#">讲师团队</a></h3>
						</div>
						<div id="js-lf-o-btm">
							<div id="js-lf-o-btm-1">
								<img src="../images/pxrz_46.jpg" alt="" />
								<p class="p1"><a href="#">李鹏</a></p>
								<p class="p2"><a href="#">清华大学教授</a></p>
							</div>
							<div id="js-lf-o-btm-2">
								<img src="../images/pxrz_48.jpg" alt="" />
								<p class="p1"><a href="#">李鹏</a></p>
								<p class="p2"><a href="#">清华大学教授</a></p>
							</div>
							<div id="js-lf-o-btm-3">
								<img src="../images/pxrz_50.jpg" alt="" />
								<p class="p1"><a href="#">李鹏</a></p>
								<p class="p2"><a href="#">清华大学教授</a></p>
							</div>
							<div id="js-lf-o-btm-4">
								<img src="../images/pxrz_52.jpg" alt="" />
								<p class="p1"><a href="#">李鹏</a></p>
								<p class="p2"><a href="#">清华大学教授</a></p>
							</div>
							<div id="js-lf-o-btm-5">
								<img src="../images/pxrz_50.jpg" alt="" />
								<p class="p1"><a href="#">李鹏</a></p>
								<p class="p2"><a href="#">清华大学教授</a></p>
							</div>
						</div>
					</div>
				</div>
				<div id="qy-rg">
					<div id="qy-rg-1">
						<img src="../images/pxrz_24.jpg" alt="" />
						<p class="p1"><a href="#">人社部培训认证证书</a></p>
						<p class="p2"><a href="#">点击提交</a></p>
					</div>
					<div id="qy-rg-2">
						<p><a href="#">热门培训信息</a></p>
						<ul>
							<li><a href="#">北京蓝冰时代营销策划有限公司</a></li>
							<li><a href="#">DMG娱乐传媒集团2014招人！</a></li>
							<li><a href="#">普世传播 满足你的欲望</a></li>
							<li><a href="#">加入奇思,做有观点的汽车广告人！</a></li>
							<li><a href="#">我,到达这里,你在哪？</a></li>
							<li><a href="#">北京蓝冰时代营销策划有限公司</a></li>
							<li><a href="#">DMG娱乐传媒集团2014招人</a></li>
							<li><a href="#">普世传播</a></li>
							<li><a href="#">加入奇思</a></li>
							<li><a href="#">我,到达这里,你在哪？</a></li>
						</ul>
					</div>
					<div id="qy-rg-3">
						<img src="../images/pxrz_40.jpg" alt="" />
						<p><a href="#">中国大学生求职网</a></p>
						<ul>
							<li><a href="#">23423</a></li>
							<li><a href="#">粉丝</a></li>
						</ul>
						<ul>
							<li><a href="#">23423</a></li>
							<li><a href="#">关注</a></li>
						</ul>
					</div>
					<div id="qy-rg-4">
						<img src="../images/pxrz_43.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>