

<div>
	<!--banner-->
	<div class="rccp">
		<div class="banner" ng-controller="lunbo">
			<div id="lunbo">
				<lunborccp></lunborccp>
			</div>
			<div class="rc">
				<p>我们用专业的方法为您提供</p>
				<p>人才测评和测评服务</p>
				<div class="liji">
					<img src="../images/uy_03.png" alt="" />
					<span>立即学习</span>
				</div>
			</div>
		</div>
		<!--绿树叶-->
		<div class="lv">
			<ul class="lv1">
				<li>
					<a href="#" class="lv11">产&nbsp&nbsp品</a>
				</li>
				<li>
					<a href="#" class="lv22">服&nbsp&nbsp务</a>
				</li>
				<li>
					<a href="#" class="lv33">客&nbsp&nbsp户</a>
				<li>
					<a href="#" class="lv44">专业机构</a>
				</li>
			</ul>
		</div>
		<!--在线测评-->
		<div class="zai">
			<div class="zaixian">
				<div class="zaix"  ng-controller="rccp">
					<div class="left">
						<p class="xin">
							<span>新闻中心</span>
						</p>
						<div class="bottom">
							<div class="b_left">
								<h3 ng-bind-html='data[2].title' ui-sref="index.zczxS({id:data[2].id})"></h3>
								<p ng-bind-html="data[2].content | limitTo:'350'  | jieweijiadian:348"></p>
							</div>
							<div class="b_left">
								<h3 ng-bind-html='data[3].title'  ui-sref="index.zczxS({id:data[3].id})"></h3>
								<p ng-bind-html="data[3].content | limitTo:'360'  | jieweijiadian:348"></p>
							</div>
						</div>
					</div>
					<div class="right">
						<p class="xin">
							<span>市场活动</span>
						</p>
						<div class="bottom">
							<div class="b_left">
								<h3 ng-bind-html='data[4].title'  ui-sref="index.zczxS({id:data[4].id})"></h3>
								<p ng-bind-html="data[4].content | limitTo:'350' | jieweijiadian:348"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="he">
				<p class="he1">合作企业</p>
				<ul>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('.lv1 li').mouseover(function() {
				$(this).children('ol').stop().slideDown();
			})
			$('.lv1 li').mouseout(function() {

				$(this).children('ol').stop().slideUp();
			})
		});
	</script>
</div>