

<div>
	<!--banner-->
	<div class="rccp" ng-controller="lunbo">
		<div class="banner">
			<div id="lunbo">
				<img src="../images/tu_04.png" id="img"}/>
				<img src="../images/05.jpg"  />
				<img src="../images/06.png" />
				<img src="../images/07.png"  />
			</div>
			<div class="rc">
				<p>我们用专业的方法为您提供</p>
				<p>人才测评和测评服务</p>
				<div class="liji">
					<img src="../images/uy_03.png" alt="" />
					<span>立即测试</span>
				</div>
			</div>
		</div>
		<!--绿树叶-->
		<div class="lv">
			<ul class="lv1">
				<li>
					<a href="#" class="lv11">产&nbsp&nbsp品</a>
					<ol class="lv2">
						<li><a href="#">产品概述</a></li>
						<li><a href="#">PAC学生测评</a></li>
						<li><a href="#">Profile XT(PXT)</a></li>
						<li><a href="#">CheckPoint 360</a></li>
						<li><a href="#">Profiles绩效指标</a></li>
						<li><a href="#">Profiles销售指标</a></li>
						<li><a href="#">Profiles客户服务形象</a></li>
						<li><a href="#">Profiles管理融合性</a></li>
					</ol>
				</li>

				<li>
					<a href="#" class="lv22">服&nbsp&nbsp务</a>
					<ol class="lv2">
						<li><a href="#">产品概述</a></li>
						<li><a href="#">PAC学生测评</a></li>
						<li><a href="#">Profile XT(PXT)</a></li>
						<li><a href="#">CheckPoint 360</a></li>
						<li><a href="#">Profiles绩效指标</a></li>
						<li><a href="#">Profiles销售指标</a></li>
						<li><a href="#">Profiles客户服务形象</a></li>
						<li><a href="#">Profiles管理融合性</a></li>
					</ol>
				</li>

				<li>
					<a href="#" class="lv33">客&nbsp&nbsp户</a>
					<ol class="lv2">
						<li><a href="#">产品概述</a></li>
						<li><a href="#">PAC学生测评</a></li>
						<li><a href="#">Profile XT(PXT)</a></li>
						<li><a href="#">CheckPoint 360</a></li>
						<li><a href="#">Profiles绩效指标</a></li>
						<li><a href="#">Profiles销售指标</a></li>
						<li><a href="#">Profiles客户服务形象</a></li>
						<li><a href="#">Profiles管理融合性</a></li>
					</ol>
				</li>

				<li>
					<a href="#" class="lv44">专业机构</a>
					<ol class="lv2">
						<li><a href="#">产品概述</a></li>
						<li><a href="#">PAC学生测评</a></li>
						<li><a href="#">Profile XT(PXT)</a></li>
						<li><a href="#">CheckPoint 360</a></li>
						<li><a href="#">Profiles绩效指标</a></li>
						<li><a href="#">Profiles销售指标</a></li>
						<li><a href="#">Profiles客户服务形象</a></li>
						<li><a href="#">Profiles管理融合性</a></li>
					</ol>
				</li>

			</ul>
		</div>
		<!--在线测评-->
		<div class="zai">
			<div class="zaixian">
				<div class="zaix">
					<div class="left">
						<p class="xin">
							<span>新闻中心</span>
							<span><a href="#">MORE+</a></span>
						</p>
						<div class="bottom">
							<div class="b_left">
								<p>田纪云谈中共元老退休：修身养性别干预“朝政”</p>
								<p>揭秘中国海外追逃行动：由1张猫照片确定嫌犯位置</p>
								<p>海军最高规格纪念甲午战争钱0周年 舰艇齐声鸣笛</p>
								<p>王立军在重庆平均1.7天申请一项专利 含火锅器具</p>
								<p>云锡原董事长落马 遭昔日“哥们儿”争相检举揭发</p>
								<p>外媒：中国严格取缔双重国籍 彻查未注销户口</p>
								<p>水晶换挡杆！沃尔沃史上最豪华SUV新大众CC升级</p>
								<p>曝湖南攸县建豪华官员公寓 装修按五星级标准(图)</p>
								<p>上海自贸区卖豪车:比4S店便宜30万 王思聪是好</p>
								<p>一日曝4名央企高管被查 一汽大众被查高管已离职</p>
								<p>京东一年打印发票要花2亿 传万达与百度腾讯成立</p>
								<p>房产黄金时代结束 购房者不易获房贷优惠 观望渐淡</p>
								<p>王健林投资房产1分钟赚7万 中外巨富二代:王思聪</p>
							</div>
							<div class="b_left">
								<p>田纪云谈中共元老退休：修身养性别干预“朝政”</p>
								<p>揭秘中国海外追逃行动：由1张猫照片确定嫌犯位置</p>
								<p>海军最高规格纪念甲午战争钱0周年 舰艇齐声鸣笛</p>
								<p>王立军在重庆平均1.7天申请一项专利 含火锅器具</p>
								<p>云锡原董事长落马 遭昔日“哥们儿”争相检举揭发</p>
								<p>外媒：中国严格取缔双重国籍 彻查未注销户口</p>
								<p>水晶换挡杆！沃尔沃史上最豪华SUV新大众CC升级</p>
								<p>曝湖南攸县建豪华官员公寓 装修按五星级标准(图)</p>
								<p>上海自贸区卖豪车:比4S店便宜30万 王思聪是好</p>
								<p>一日曝4名央企高管被查 一汽大众被查高管已离职</p>
								<p>京东一年打印发票要花2亿 传万达与百度腾讯成立</p>
								<p>房产黄金时代结束 购房者不易获房贷优惠 观望渐淡</p>
								<p>王健林投资房产1分钟赚7万 中外巨富二代:王思聪</p>
							</div>
						</div>
					</div>
					<div class="right">
						<p class="xin">
							<span>市场活动</span>
							<span><a href="#">MORE+</a></span>
						</p>
						<div class="bottom">
							<div class="b_left">
								<p>田纪云谈中共元老退休：修身养性别干预“朝政”</p>
								<p>揭秘中国海外追逃行动：由1张猫照片确定嫌犯位置</p>
								<p>海军最高规格纪念甲午战争钱0周年 舰艇齐声鸣笛</p>
								<p>王立军在重庆平均1.7天申请一项专利 含火锅器具</p>
								<p>云锡原董事长落马 遭昔日“哥们儿”争相检举揭发</p>
								<p>外媒：中国严格取缔双重国籍 彻查未注销户口</p>
								<p>水晶换挡杆！沃尔沃史上最豪华SUV新大众CC升级</p>
								<p>曝湖南攸县建豪华官员公寓 装修按五星级标准(图)</p>
								<p>上海自贸区卖豪车:比4S店便宜30万 王思聪是好</p>
								<p>一日曝4名央企高管被查 一汽大众被查高管已离职</p>
								<p>京东一年打印发票要花2亿 传万达与百度腾讯成立</p>
								<p>房产黄金时代结束 购房者不易获房贷优惠 观望渐淡</p>
								<p>王健林投资房产1分钟赚7万 中外巨富二代:王思聪</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="he">
				<p class="he1">合作企业</p>
				<ul>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
					<li>
						<p><img src="../images/tu_07.png" alt="" /></p>
						<p>PPtv</p>
					</li>
					<li>
						<p><img src="../images/tu_10.png" alt="" /></p>
						<p>猪八戒网</p>
					</li>
					<li>
						<p><img src="../images/tu_12.png" alt="" /></p>
						<p class="tao">淘宝网</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('.lv1 li').mouseover(function() {
				$(this).children('ol').stop().slideDown();
			})
			$('.lv1 li').mouseout(function() {

				$(this).children('ol').stop().slideUp();
			})
		});
	</script>
</div>