    	<link rel="stylesheet" href="../styles/register.css" />
		<section class="register">
			<article class="top">
				<img src="../images/register_logo.jpg" alt="" />
				<span>中国第一为大学生就业服务网站</span>
			</article>
			<article class="main">
				<h3>欢迎注册中国大学生就业培训网</h3>
				<div>
					<a class="title">账号注册</a>
					<form>
						<p><b>账号</b><input type="text" /></p>
						<span>请设置6到18位字符，包括字符、数字、下划线</span>
						<p><b>密码</b><input type="text"  /></p>
						<span>输入账户密码，6至16位，区分大小写</span>
						<p><b>确认密码</b><input type="text"  /></p>
						<span>再次输入您设置的密码</span>
						<p><b>手机号码</b><input type="text"  /></p>
						<span>输入手机号码</span>
						<p><b>专业</b><input type="text"  /></p>
						<p><b>学历</b><select><option>本科</option><option>研究生</option><option>硕士</option></select></p>
						<p><b>性别</b><select><option>男</option><option>女</option></select></p>
						<p class="cen"><input type="checkbox" class="check" /><strong>我已经仔细阅读过<a>中国大学生就业培训网服务条款</a></strong></p>
						<input type="button" value="立即注册"  class="btn"/>
					</form>
				</div>
			</article>
			<article class="footer">
				<p>关于我们  |  联系我们  |  隐私声明  |  版权与著作权  |  服务条款  |  广告服务  |  友情链接</p>
				<p>版权所有 ©2006-2007 中国大学生就业培训网</p>
			</article>
		</section>
