
<div>
	<div id="qb">
		<div id="nav">
			<p><a href="#">您现在所在的位置:培训认证 > 推荐课程</a></p>
		</div>
		<div id="content">
			<div id="sp-lf">
				<div id="sp-lf-o">
					<img src="../images/pxrzsp_03.jpg" alt="" />
				</div>
				<div id="sp-lf-t">
					<div id="sp-lf-t-1">
						<h2><a href="#">最近热点问题</a></h2>
						<h3><a href="#">MORE</a></h3>
						<img src="../images/pxrz_07.jpg" alt="" />
					</div>
					<div id="sp-lf-t-2">
						<ul>
							<li><a href="#">大学生社交能力匮乏 调查称恐惧心理成离职主因<span>2011/11/9</span></a></li>
							<li><a href="#">调查称大学生恐惧创业源于创业心理素质缺失<span>2011/11/7</span></a></li>
							<li><a href="#">人格到底能不能改变<span>2011/10/9</span></a></li>
							<li><a href="#">韩启德对话大学生:想成大事者一定咬到基层去<span>2011/9/28</span></a></li>
							<li><a href="#">大学生就业压力趋缓 本硕博望月薪猛涨一倍<span>2011/7/20</span></a></li>
							<li><a href="#">求职路上怪门槛<span>2011/7/20</span></a></li>
							<li><a href="#">表演专业:主动就业的状态很重要<span>2011/5/20</span></a></li>
							<li><a href="#">能力比专业更重要<span>2010/5/20</span></a></li>
							<li><a href="#">让你职场生活沸腾的几句话<span>2010/4/12</span></a></li>
							<li><a href="#">职场牛人:前10年积"术" 第二个10年练"理"<span>2010/4/2</span></a></li>
							<li><a href="#">创业对心智的磨炼比就业大得多<span>2010/3/23</span></a></li>
							<li><a href="#">如何提高参加现场招聘会的成功率<span>2010/3/15</span></a></li>
							<li><a href="#">专家:大学生求职可先做"职业测评"认知自我<span>2010/3/12</span></a></li>
							<li><a href="#">什么样的下属容易受欺负<span>2010/3/4</span></a></li>
							<li><a href="#">如何把握同事间的最佳距离<span>2010/3/4</span></a></li>
							<li><a href="#">职场阳光心态:换位思考,体谅别人<span>2010/3/3</span></a></li>
							<li><a href="#">十种最不健康的求职者心态<span>2010/3/2</span></a></li>
							<li><a href="#">职场最可怕的六种人<span>2010/6/11</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="sp-rg">
				<div id="sp-rg-top">
					<h2><a href="#">热门培训</a></h2>
				</div>
				<div id="sp-rg-btm">
					<div id="sp-btm-1">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">成为HR专家的75门必修课</a></p>
					</div>
					<div id="sp-btm-2">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">谣言止于智者 聊天止于呵呵</a></p>
					</div>
					<div id="sp-btm-3">
						<img src="../images/sprz_07.jpg" alt="" />
						<p><a href="#">说一口地道的日语so easy</a></p>
					</div>
					<div id="sp-btm-4">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">成为HR专家的75门必修课</a></p>
					</div>
					<div id="sp-btm-5">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">成为HR专家的75门必修课</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>