<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../styles/sprz.css" />
<div>
	<div id="qb">
		<div id="nav">
			<p><a href="#">您现在所在的位置:培训认证 > 推荐课程</a></p>
		</div>
		<div id="content">
			<div id="sp-lf">
				<div id="sp-lf-o">
					<img src="../images/pxrzsp_03.jpg" alt="" />
				</div>
				<div id="sp-lf-t">
					<div id="sp-lf-t-1">
						<ul>
							<li><a href="#">评论</a></li>
							<li><a href="#">转发</a></li>
							<li><a href="#">收藏</a></li>
						</ul>
						<h3><a href="#">顶(105)</a></h3>
						<img src="../images/pinglun_11.jpg" alt="" />
					</div>
					<div id="sp-lf-t-2">
						<div id="sp-lf-t-2-1">
							<img src="../images/pl_18.jpg" alt="" />
							<ul>
								<li><a href="#">神龙：这是什么意思啊</a></li>
								<li><a href="#">2016年9月12日   16：36</a></li>
							</ul>
						</div>
						<div id="sp-lf-t-2-2">
							<img src="../images/pl_21.jpg" alt="" />
							<ul>
								<li><a href="#">神龙：这是什么意思啊</a></li>
								<li><a href="#">2016年9月12日   16：36</a></li>
							</ul>
						</div>
						<div id="sp-lf-t-2-3">
							<img src="../images/pl_23.jpg" alt="" />
							<ul>
								<li><a href="#">神龙：这是什么意思啊</a></li>
								<li><a href="#">2016年9月12日   16：36</a></li>
							</ul>
						</div>
						<div id="sp-lf-t-2-4">
							<img src="../images/pl_29.jpg" alt="" />
							<ul>
								<li><a href="#">神龙：这是什么意思啊</a></li>
								<li><a href="#">2016年9月12日   16：36</a></li>
							</ul>
						</div>
						<div id="sp-lf-t-2-5">
							<img src="../images/pl_31.jpg" alt="" />
							<ul>
								<li><a href="#">神龙：这是什么意思啊</a></li>
								<li><a href="#">2016年9月12日   16：36</a></li>
							</ul>
						</div>
						<div id="sp-lf-t-2-6">
							<div id="inp">
								<p><a href="#">我也来说一句……</a></p>
							</div>
							<div id="tjpl">
								<p><a href="#">提交评论</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sp-rg">
				<div id="sp-rg-top">
					<h2><a href="#">热门培训</a></h2>
				</div>
				<div id="sp-rg-btm">
					<div id="sp-btm-1">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">成为HR专家的75门必修课</a></p>
					</div>
					<div id="sp-btm-2">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">谣言止于智者 聊天止于呵呵</a></p>
					</div>
					<div id="sp-btm-3">
						<img src="../images/sprz_07.jpg" alt="" />
						<p><a href="#">说一口地道的日语so easy</a></p>
					</div>
					<div id="sp-btm-4">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">成为HR专家的75门必修课</a></p>
					</div>
					<div id="sp-btm-5">
						<img src="../images/sprz_03.jpg" alt="" />
						<p><a href="#">成为HR专家的75门必修课</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>