
		

	<div ng-controller="lj">
		<bg>
			<section class="content_c">
				<!------------------内容左----------------->
				<section class="leftBox_c">
					<banner>
						<div class="bannerBox_c" >
							<img ng-click='ImgClick()' src="../images/banner1_c.png" />
							<img src="../images/banner1_c.png" />
							<img src="../images/banner1_c.png" />
							<img src="../images/banner1_c.png" />
						</div>
					</banner>
					<div class="tabControl_c">
						<a href="#">创业资讯</a>
						<a href="#">创业故事</a>
					</div>
					<ul class="informationBox_c">
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈时，你，按时大世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
						<li>
							<img src="../images/information1_c.png" />
							<h3>中国互联网出来：小步试错到大步投资</h3>
							<p class="text_c"><a href="#z">俺是个大神哈萨克打电话看世界科技客服哈发贺卡的恢复速度快卡上始啊数据量大数据量大家安老师的期待阿斯兰的加上了快递按时来打卡老师看到拉屎是打啊按时的疯狂 萨克的回复卡死……</a></p>
						</li>
					</ul>
				</section>
				<!-----------------内容左结束--------------->
				<!------------------内容右----------------->
				<section class="rightBox_c">
					<div class="news1_c">
						<h2>李克强调研工商部门：称要</h2>
						<p><a href="#z">7月25日，李克强总理到济南市工商局考察。大众日报记者 汤旭民 摄……</a></p>
					</div>
					<div class="news2_c">
						<h2>李克强调研工商部门：称要</h2>
						<p><a href="#z">7月25日，李克强总理到济南市工商局考察。大众日报记者 汤旭民 摄……</a></p>
					</div>
					<div class="news3_c">
						<h2>李克强调研工商部门：称要</h2>
						<p><a href="#z">7月25日，李克强总理到济南市工商局考察。大众日报记者 汤旭民 摄……</a></p>
					</div>
					<p class="xmtjTitle_c">项目推荐</p>
					<ul class="xmtjContent_c" >
						<li>
							<img src="../images/recommend1.png" />
							<p class="xmtjText1_c">寻找999位背包客，共建大理客栈梦想孵化基地</p>
							<a ng-click='xqxwLj()'>[详情]</a>
						</li>
						<li>
							<img src="../images/recommend1.png" />
							<p class="xmtjText1_c">寻找999位背包客，共建大理客栈梦想孵化基地</p>
							<a ng-click='xqxwLj()'>[详情]</a>
						</li>
						<li>
							<img src="../images/recommend1.png" />
							<p class="xmtjText1_c">寻找999位背包客，共建大理客栈梦想孵化基地</p>
							<a ng-click='xqxwLj()'>[详情]</a>
						</li>
						<li>
							<img src="../images/recommend1.png" />
							<p class="xmtjText1_c">寻找999位背包客，共建大理客栈梦想孵化基地</p>
							<a ng-click='xqxwLj()'>[详情]</a>
						</li>
						<li>
							<img src="../images/recommend1.png" />
							<p class="xmtjText1_c">寻找999位背包客，共建大理客栈梦想孵化基地</p>
							<a ng-click='xqxwLj()'>[详情]</a>
						</li>
						<li>
							<img src="../images/recommend1.png" />
							<p class="xmtjText1_c">寻找999位背包客，共建大理客栈梦想孵化基地</p>
							<a ng-click='xqxwLj()'>[详情]</a>
						</li>
						<li>
							<img src="../images/recommend1.png" />
							<p class="xmtjText1_c">寻找999位背包客，共建大理客栈梦想孵化基地</p>
							<a ng-click='xqxwLj()'>[详情]</a>
						</li>
						
					</ul>
					<p class="rmjyTitle_c">热门就业信息</p>
					<section class="rmjyContent_c">
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
						<p><a href="#z">北京蓝冰时代营销策划有限公司</a></p>
					</section>
					<section class="qrCode_c">
						<img src="../images/qrcode_c.png" />
					</section>
				</section>
				<!-----------------内容右结束--------------->
			</section>
		</bg>
	</div>
