
		

	<div>
		<bg>
			<section class="content_c clear">
				<!------------------内容左----------------->
				<section class="leftBox_c">
					<banner>
						<div class="bannerBox_c">
							<lunbosybc></lunbosybc>
						</div>
					</banner>
					<div class="tabControl_c">
						<a href="javascript:;" class="tabControlLeft_c" ng-class='tabnav_left' ng-click="clickleft()" >创业资讯</a>
						<a href="javascript:;" class="tabControlRight_c" ng-class='tabnav_right' ng-click="clickright()">创业故事</a>
					</div>
					<ul class="informationBox_c" ng-show='conter_left'>
						<li ng-repeat="x in data1">
							<img ng-src="http://123.56.227.177/bi/public/xiang_upload/images/{{x.img}}" ng-click="xq_c(x)"/>
							<h3 class="text_title_c" ng-click="xq_c(x)">{{x.title| limitTo:'15'}}{{x.title.length>15?'...':''}}</h3>
							<p class="text_c" ng-bind-html="x.content | limitTo:'60'"></p>
						</li>
					</ul>
					<ul class="informationBox1_c" ng-show='conter_right'>
						<li ng-repeat="x in data2">
							<img ng-src="http://123.56.227.177/bi/public/xiang_upload/images/{{x.img}}" ng-click="xq1_c(x)"/>
							<h3 class="text_title_c" ng-click="xq1_c(x)">{{x.title| limitTo:'15'}}{{x.title.length>15?'...':''}}</h3>
							<p class="text_c" ng-bind-html="x.content | limitTo:'60'"></p>
						</li>
					</ul>
				</section>
				<!-----------------内容左结束--------------->
				<!------------------内容右----------------->
				<section class="rightBox_c">
					<div class="news1_c" ng-repeat="t in data">
						<h2 ng-click="xq_c(t)">{{t.title | limitTo:'12' }}{{t.title.length>12?'...':''}}</h2>
						<p ng-bind-html="t.content | limitTo:'40'"></p>
					</div>
					
					<p class="xmtjTitle_c">项目推荐</p>
					<div class="xmtjContentBox_c">
					<ul class="xmtjContent_c" >
						<lunbosybc1></lunbosybc1>
					</ul>
					</div>
					<section class="qrCode_c">
						<img src="../images/qrcode_c.png" />
					</section>
				</section>
				<!-----------------内容右结束--------------->
			</section>
		</bg>
	</div>
