
		
		
	<div>
		<sybTjBg>
			<p class="place">您现在所在的位置：<a href="javascript:;" ui-sref="index.syb">创业平台 </a><img src="../images/arrows_c.png" /><span>推荐项目</span></p>
			<section class="content1_c clear">
				<!------------------内容左----------------->
				<section class="leftBox1_c">
					<h2 class="title1_c">项目介绍：</h2>
					<div class="bannerBox1_c">
						<img ng-src="http://123.56.227.177/bi/public/xiang_upload/images/{{data5.img}}" />
					</div>
					<div class="tjText_c">
						<p ng-bind-html="data5.content"></p>
					</div>
				</section>
				<!-----------------内容左结束--------------->
				<!------------------内容右----------------->
				<section class="rightBox1_c">
					<p class="xmtjTitle_c">项目推荐</p>
					<div>
					<ul class="xmtjContent2_c">
						<sybtjclunbo></sybtjclunbo>
					</ul>
					</div>
				</section>
				<!-----------------内容右结束--------------->
				
			</section>
		</sybTjBg>
	</div>

