
	<div>
		<sybZxBg>
			<p class="place1_c">您现在所在的位置：<a href="javascript:;" ui-sref="index.syb">创业平台 </a><img src="../images/arrows_c.png" /><span>{{zixun_c}}</span></p>
			<!------------------内容上--------------------->
			<section class="sybZx_content_c">
				<h1>{{data4.title}}</h1>
				<img class="sybZx_img_c" ng-src="http://123.56.227.177/bi/public/xiang_upload/images/{{data4.img}}" />
				<div class="sybZx_text_c">
					<p ng-bind-html="data4.content"></p>
				</div>
			</section>
			<!-----------------内容上结束--------------------->
		</sybZxBg>
	</div>

