
	
		
	</head>
	<div>
		<sybZxBg>
			<p class="place1_c">您现在所在的位置：<a href="syb.html">创业平台 </a><img src="../images/arrows_c.png" /><span> 创业资讯</span></p>
			<!------------------内容上--------------------->
			<section class="sybZx_content_c">
				<h1>视频大自制时代已经到来</h1>
				<img class="sybZx_img_c" src="../images/banner1_c.png" />
				<div class="sybZx_text_c">
					<p>  　DoNews 8月26日消息（记者 向密）以“颠覆者”姿态进入智能电视领域的乐视，这一次希望凭借农业完成新的颠覆之旅。<br /><br />

　　在乐视食品电商平台“乐生活”于8月18日上线测试后，8月24日，乐视成立乐视互联网生态农业有限公司，并与高邮市及高邮湖大闸蟹行业协会签订合作协议，正式向外界宣告进军农业领域。<br /><br />

　　按照乐视互联网生态农业副总裁蒋政文的说法，乐视要打造的是集现代化农业生产与加工、生鲜农产品(000061,股吧)电商平台与冷链物流体系、农业品牌运营、农产品金融投资于一体的农业生态产业链。<br /><br />

　　以生鲜切入农业<br /><br />

　　蒋政文认为，现代农业作为新兴的产业，是国家未来十年的重要战略方向，同时安全优质的食品也是民众最基本的需求。“用互联网的方式来改变传统农业的落后的生产方式、滞后的市场传导、无序的加工手段、混乱的产地标识，是乐视顺应时代和市场的一个选择。”<br /><br />

　　而之所以选择将第一波农产品生意押注在大闸蟹上是因为，一方面大闸蟹在电商用户教育上已经是最完善的产品，预售模式深入人心，包装配送也已然成熟；另一方面，电商平台都打着兜售正宗阳澄湖大闸蟹的招牌，但冒牌洗澡蟹早已成为行业公开秘密。<br /><br />

　　蒋政文介绍，与网上其他争相标榜的阳澄湖大闸蟹有所不同，乐视互联网生态农业推出了“六大产区”和“英雄不问出处”的理念，希望打破市场上对于阳澄湖大闸蟹的追逐和迷信。<br /><br />

　　据了解，“乐生活”平台上售卖的大闸蟹并不特别标榜阳澄湖产地，而是包括阳澄湖、高邮湖、太湖、黄河口、沱湖、盘锦在内的六大核心产区；在价格上，“乐生活”上售卖的大闸蟹统一规格为公母两对共四只，售价198元。<br /><br />

　　基地+平台联手构建<br /><br />

　　在农产品的营销、销售等方式上，有互联网基因的乐视，沿袭了乐视控股旗下业态一贯的垂直整合运作发展思路，与乐视生态紧密挂钩。<br /><br />

　　一方面，为保证产品品质，乐生活将与与权威机构共同打造属于乐视互联网生态农业的认证体系，用于非自营产品的检测，达标后方可进入乐视互联网生态农业销售渠道；<br /><br />

　　同时，乐生活将以电商平台为主体，依托乐视集团旗下乐视网(300104,股吧)、乐视TV、乐视商城、乐视影业、网酒网等业态覆盖的近4亿用户，通过乐视五屏联动（PC、Phone、TV、Pad、Film）体系，实现对农业业务的营销和售卖。<br /><br />

　　在配送上，乐视也将在今年年底先从北京开始，以总仓加最后一公里的模式，结合在社区里面自建社区终端社区店，并通过乐视LEPAR线下店进行自提和配送补足的方式，构建整体的配送体系。这一过程中，乐视农业将借由集团此前和一些大型物业公司、地产公司合作的智慧社区项目来推进。<br /><br />

　　在此之前，乐视早已开始布局农业，借由大闸蟹的开卖，乐视已正式迈出进入农业圈的第一步，接下来的时间则进入乐视将生态产业链概念复制到农业领域的阶段。<br /><br />

　　今年年初，乐视位于山西省临汾市尧都区尧王台现代农业示范区的生态农业产业园基地就已经高调亮相。据悉，乐视生态农业临汾基地总占地面积约3000亩，包括“网酒网葡萄酒产业基地”与“乐视生态农业产业园”两部分，进行种植采摘、旅游观光、休闲娱乐、酿造加工等多种商业项目。<br /><br />

　　蒋政文透露，目前乐视在黑龙江、重庆、江西的赣州以及厦门等地都在洽谈相关的事情，整个业务不光根据全国性进行布局，同时也会根据当地的环境因地制宜，着重当地的建设来完善整个供应链体系。<br /><br />

　　“未来，在黑龙江，我们想结合黑龙江优质基础的农产品，在当地做一个农产品深加工方面的产业园；在重庆，会是来围绕西南部大量优质的农产品做一个物流中转方面的产业园；在江西赣州，我们也会在万亩的赣南脐橙的基地里建设类似这种果汁深加工以及水果方面的产业园。”<br /><br /></p>
				</div>
			</section>
			<!-----------------内容上结束--------------------->
		</sybZxBg>
	</div>

