
<div>
	<div class='zc-main'>
		<div class='zc-mainContext'>
			<!--中间的内容左边-->
			<div class='zc-mainContextLift'>
				<div class='mainContextLiftTop'>
					<img src="../images/0_03.jpg" alt="" />
					<div class='mainContextLiftTopRight'>
						<h2>推荐</h2>
						<p>北京地区2014上半年高校毕业生系</p>
						<i>毕业了，工作了，爹妈不管了，生活要靠自己了。这才发现，”生活成本有那么高，压力太大我受不了；老板要求有那么多，怎么努力都做不到；城市太吵而薪水太少</i>
						<p>北京地区2014上半年高校毕业生系</p>
						<i>毕业了，工作了，爹妈不管了，生活要靠自己了。这才发现，”生活成本有那么高，压力太大我受不了；老板要求有那么多，怎么努力都做不到；城市太吵而薪水太少</i>
					</div>
				</div>
				<ul class='mainContextLiftUl'>
					<li>
						<a href="javascript:;">政策信息</a>
					</li>
					<li>
						<a href="javascript:;">就业指南</a>
					</li>
					<li>
						<a href="javascript:;">电商资讯</a>
					</li>
					<li>
						<a href="javascript:;">通知公告</a>
					</li>
				</ul>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/2_03.jpg" alt="" />
					</div>
				</div>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/6_03.jpg" alt="" />
					</div>
				</div>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/6_06.jpg" alt="" />
					</div>
				</div>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/6_03.jpg" alt="" />
					</div>
				</div>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/2_03.jpg" alt="" />
					</div>
				</div>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/6_03.jpg" alt="" />
					</div>
				</div>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/6_06.jpg" alt="" />
					</div>
				</div>
				<div class='zc-mainauto'>
					<h1 class='zc-mainautoH'>教育部：力争每一名未就业大学生半年内就业</h1>
					<hr />
					<div class='timeUl'>
						<span>2014-08-08　16:04</span>
						<span>阅读数：2248</span>
						<span>评论：2</span>
					</div>
					<div class='zc-center'>
						<p>中新网7月29日电 据教育部网站消息，教育部日前发文要求做好离校未就业高校毕业生就业创业工作，《通知》要求，各地高校积配合人社部门组织实施好“离校未就业生就业促进计划”，力争使每一名有就业意愿的未就业毕业生在毕业半年内实现就业或参加到就业准备活动中。</p>
						<img src="../images/2_03.jpg" alt="" />
					</div>
				</div>
				<div class='zc-ghy'>更多行业资讯</div>
			</div>

			<!--中间的内容右边-->
			<div class='zc-mainContextRight'>
				<div class='zvrigrm'>热门培训信息</div>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>普世传播 满足你的欲望 </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 ！ </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人!</p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<div class='zc-cha'>
					<img class='zc-chaImg' src="../images/3_03.jpg" alt="" />
					<div class='zc-chaRight'>
						<h1>中国大学生求职网</h1>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>粉丝</p>
						</div>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>关注</p>
						</div>
					</div>
				</div>
				<img class='shuJuLeftImg' src="../images/4_06.jpg" alt="" />
				<h1 class='rmzP'>热门招聘</h1>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<div class='backPi'></div>
				<img src="../images/5_03.jpg" alt="" />
				<img class='erWeiMa' src="../images/5_07.jpg" alt="" />
			</div>
		</div>
	</div>

</div>
<div ui-view></div>