
<div ng-controller='zc'>
	<div class='zc-main'>
		<div class='zc-mainContext'>
			<!--中间的内容左边-->
			<div class='zc-mainContextLift'>
				<div class='mainContextLiftTop'>
					<img src="../images/0_03.jpg" alt="" />
					<h2>推荐</h2>
					<div class='mainContextLiftTopRight' ng-repeat='i in data'>
						<p  ui-sref="index.zczxS({id:i.id})">{{i.title}}</p>
						<i ng-bind-html="i.content  | jieweijiadian:70"></i>
					</div>
				</div>
				<ul class='mainContextLiftUl'>
					<li>
						<a href="javascript:;" ng-click="xxkZc('erYm')">政策信息</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="xxkZc('zhiNan')">就业指南</a>
					</li>
				</ul>
				<div ng-switch='nba'>
					<!--政策信息-->
					<div class='mainautoConter' ng-switch-default> 
						<div class='zc-mainauto' ng-repeat='i in data2'>
							<h1 class='zc-mainautoH'  ui-sref="index.zczxS({id:i.id})">{{i.title}}</h1>
							<hr />
							<div class='timeUl'>
								<span>2014-08-08　16:04</span>
								<span>阅读数：2248</span>
								<span>评论：2</span>
							</div>
							<div class='zc-center'>
								<p ng-bind-html="i.content | limitTo:'150'  | jieweijiadian:148"></p>
								<img ng-src="http://123.56.227.177/bi/public/xiang_upload/images/{{i.img}}" />
							</div>
						</div>
						<div class='zc-ghy'>更多行业资讯</div>
					</div>
					<!--就业指南-->
					<div class='mainautoConter' ng-switch-when="zhiNan">
						<div class='zc-mainauto' ng-repeat='i in data3'>
							<h1 class='zc-mainautoH'  ui-sref="index.zczxS({id:i.id})">{{i.title}}</h1>
							<hr />
							<div class='timeUl'>
								<span>2014-08-08　16:04</span>
								<span>阅读数：2248</span>
								<span>评论：2</span>
							</div>
							<div class='zc-center'>
								<p ng-bind-html="i.content | limitTo:'150'  | jieweijiadian:148"></p>
								<img ng-src="http://123.56.227.177/bi/public/xiang_upload/images/{{i.img}}" />
							</div>
						</div>
						<div class='zc-ghy'>更多行业资讯</div>
					</div>
				</div>
			</div>
			<!--中间的内容右边-->
			<div class='zc-mainContextRight'>
				<div class='zvrigrm'>热门培训信息</div>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>普世传播 满足你的欲望 </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 ！ </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人!</p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<div class='zc-cha'>
					<img class='zc-chaImg' src="../images/3_03.jpg" alt="" />
					<div class='zc-chaRight'>
						<h1>中国大学生求职网</h1>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>粉丝</p>
						</div>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>关注</p>
						</div>
					</div>
				</div>
				<img class='shuJuLeftImg' src="../images/4_06.jpg" alt="" />
				<h1 class='rmzP'>热门招聘</h1>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<div class='backPi'></div>
				<img src="../images/5_03.jpg" alt="" />
				<img class='erWeiMa' src="../images/5_07.jpg" alt="" />
			</div>
		</div>
	</div>

</div>
<div ui-view></div>