
<div ng-controller="zc">
	<div class='zczxS-main'>
		<h2>您现在所在的位置：政策资讯    政策信息</h2>
		<div class='zczxS-mainConter'>
			<!--内容左-->
			<div class='mainConterLeft'>
				<div class='mainConterLeftHer'>
					<a  ng-click='leftZc("leftXx",0)' ng-class='cc'>政策信息</a>
					<a  ng-click='leftZc("leftZn",1)' ng-class='vv'>就业指南</a>
				</div>
				<div ng-switch='cba'>
					<!--政策信息-->
					<div ng-switch-default >
						<div class='leftRightMain'>
							<p class='leftRightMainP' ng-click="zc()">泸溪县公路局召开领导班子专题民主生活会</p>
							<p class='leftRightMainPEr' ng-click="zc()">2014-6-14</p>
						</div>
						<div class='leftRightMain'>
							<p class='leftRightMainP' ng-click="zc()">长沙：保障进城务工子女100%公办学校就读 </p>
							<p class='leftRightMainPEr' ng-click="zc()">2014-6-14</p>
						</div>
					</div>
					<!--就业指南-->
					<div ng-switch-when="leftZn">
						<div class='leftRightMain'>
							<p class='leftRightMainP' ng-click="zc()">保障进城务工子女100%公办学校就读 </p>
							<p class='leftRightMainPEr' ng-click="zc()">2014-6-14</p>
						</div>
						<div class='leftRightMain'>
							<p class='leftRightMainP' ng-click="zc()">泸溪县公路局召开领导班子专题民主生活会</p>
							<p class='leftRightMainPEr' ng-click="zc()">2014-6-14</p>
						</div>
						
					</div>
				</div>
				
				<ul class='paging'>
					<li class='pagingfast'>上一页</li>
					<li class='paginglast maLlast'>1</li>
					<li class='paginglast maLlast'>2</li>
					<li class='paginglast maLlast'>3</li>
					<li class='paginglast maLlast'>4</li>
					<li class='paginglast maLlast'>5</li>
					<li class='pagingfast maLlast'>下一页</li>
				</ul>
			</div>
			<!--内容右-->
			<div class='zc-mainContextRight'>
				<div class='zvrigrm'>热门培训信息</div>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>普世传播 满足你的欲望 </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 ！ </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人!</p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<div class='zc-cha'>
					<img class='zc-chaImg' src="../images/3_03.jpg" alt="" />
					<div class='zc-chaRight'>
						<h1>中国大学生求职网</h1>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>粉丝</p>
						</div>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>关注</p>
						</div>
					</div>
				</div>
				<img class='shuJuLeftImg' src="../images/4_06.jpg" alt="" />
				<h1 class='rmzP'>热门招聘</h1>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
			</div>
		</div>
	</div>
</div>