
<div>
	<div class='zczxS-main'>
		<h2>您现在所在的位置：政策资讯    政策信息</h2>
		<div class='zczxS-mainConter'>
			<!--内容左-->
			<div class='mainConterLeft'>
				<div class='mainConterLeftHer'>
					<p>政策信息</p>
				</div>
				<p class="titleP" ng-bind="data.title"></p>
				<p ng-bind-html="data.content" class="mainCoP"></p>
			</div>
			<!--内容右-->
			<div class='zc-mainContextRight'>
				<div class='zvrigrm'>热门培训信息</div>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>普世传播 满足你的欲望 </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 ！ </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人!</p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<div class='zc-cha'>
					<img class='zc-chaImg' src="../images/3_03.jpg" alt="" />
					<div class='zc-chaRight'>
						<h1>中国大学生求职网</h1>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>粉丝</p>
						</div>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>关注</p>
						</div>
					</div>
				</div>
				<img class='shuJuLeftImg' src="../images/4_06.jpg" alt="" />
				<h1 class='rmzP'>热门招聘</h1>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
			</div>
		</div>
	</div>
</div>