<link rel="stylesheet" href="../styles/zczxS.css" />
<div>
	<div class='zczxS-main'>
		<h2>您现在所在的位置：政策资讯    政策信息</h2>
		<div class='zczxS-mainConter'>
			<!--内容左-->
			<div class='mainConterLeft'>
				<div class='mainConterLeftHer'>
					<p>政策信息</p>
				</div>
				<p class='titleP'>河北调整研究生资助政策 公办高校学费没有上涨</p>
				<p class='mainCoP'>石家庄8月26日电（记者齐雷杰）从2014年秋季学期开始，河北省将执行新的研究生资助政策：现有的研究生普通奖学金将调整为研究生国家助学金，用于补助研究生基本生活支出。同时，将设置研究生助教等岗位津贴资助和学业奖学金制度。</p>
				<p class='mainCoP'>记者从河北省教育厅获悉，研究生国家助学金范围将覆盖全国研究生招生计划内的所有全日制研究生，博士生资助标准为每生每年10000元，硕士生资助标准为每生每年6000元。</p>
				<p class='mainCoP'>河北还设置了研究生助教、助研和助管（简称“三助”）岗位津贴资助和研究生学业奖学金制度，从2014年秋季学期起，省级财政按照博士研究生每生每年10000元、硕士研究生每生每年8000元的标准以及在校生人数的一定比例给予补助。</p>
				<p class='mainCoP'>另据了解，虽然自去年以来全国多个省份高校相继上调学费，但河北省公办普通高校学费没有上涨。为了不让学生因家境贫寒而失学，今年河北简化了生源地助学贷款办理程序，并开辟了“绿色通道”，如果新录取大学生开学时交不起学费，可一律先办理入学手续，然后再根据核实后的情况，分别予以学费“缓、减、免”等资助。</p>
				<p class='mainCoPRight'>2014年08月26日11:26 来源：新华网</p>
			</div>
			<!--内容右-->
			<div class='zc-mainContextRight'>
				<div class='zvrigrm'>热门培训信息</div>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>普世传播 满足你的欲望 </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<p class='mainContextRightP'>北京蓝冰时代营销策划有限公司 ！ </p>
				<p class='mainContextRightP'>DMG娱乐传媒集团2014招人！ </p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人!</p>
				<p class='mainContextRightP'>加入奇思, 做有观点的汽车广告人! </p>
				<p class='mainContextRightP'>我，道达这里，你在哪？ </p>
				<div class='zc-cha'>
					<img class='zc-chaImg' src="../images/3_03.jpg" alt="" />
					<div class='zc-chaRight'>
						<h1>中国大学生求职网</h1>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>粉丝</p>
						</div>
						<div class='shuJuLeft'>
							<p>23424</p>
							<p>关注</p>
						</div>
					</div>
				</div>
				<img class='shuJuLeftImg' src="../images/4_06.jpg" alt="" />
				<h1 class='rmzP'>热门招聘</h1>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月8日（周四） 综合类专场双选会</p>
				<p class='shuangHuiCh'>5月15日（周四） 综合类专场双选会</p>
			</div>
		</div>
	</div>
</div>