
<div ng-controller="z_j">
	<div class="zj_zj">
	<div class="zj">
		<div class="zj-left">
			<p class="zj-left-p">
				<span>专家介绍</span>
				<span><img src="../images/zhuan-jia_03.jpg"/></span>
			</p>
			<ul class="zj-left-ul1">
				<li><a href="zczxS.html">
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p></a>
				</li>
				<li>
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p>
				</li>
				<li>
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p>
				</li>
				<li>
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p>
				</li>
				<li>
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p>
				</li>
				<li>
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p>
				</li>
				<li>
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p>
				</li>
				<li>
					<img src="../images/zhuan-jia_07.jpg" />
					<p>李鹏</p>
					<p>中国著名教育学家</p>
					<p>清华远程学堂课程主讲教授</p>
				</li>
			</ul>
			<p class="zj-left-p">
				<span>专家观点</span>
				<span><img src="../images/zhuan-jia_03.jpg"/></span>
			</p>
			<ul class="zj-left-ul2">
				<li>
					<span>张 丹：细节源于生活</span>
					<span>2007/11/29</span>
				</li>
				<li>
					<span>王大赫：学习的好坏不在于天赋而是用心</span>
					<span>2007/11/29</span>
				</li>
				<li>
					<span> 王华斌：没有好的兴趣，就没有好的老师 </span>
					<span>2007/11/29</span>
				</li>
				<li>
					<span>苏文通：教育在于育，而不是在于教</span>
					<span>2007/11/29</span>
				</li>
				<li>
					<span>韩宏宇：没有任何人注定就会成功</span>
					<span>2007/11/29</span>
				</li>
				<li>
					<span>王   健：植树育人，百年大计</span>
					<span>2006/12/6</span>
				</li>
				<li>
					<span>刘洪玉：鸿鹤之志，在于勤</span>
					<span>2006/12/6</span>
				</li>
				<li>
					<span>任志宽：没有好的起点，但要有好的毅力</span>
					<span>2006/12/6</span>
				</li>
				<li>
					<span>宁向东：一切美好在于争取，女里就有希望</span>
					<span>2006/12/6</span>
				</li>
				<li>
					<span>李   飞：不分贵贱，只有自卑 </span>
					<span>2006/12/6</span>
				</li>
			</ul>

		</div>
	</div>
</div>