
	<div >
		<div id="index_banner" ng-controller="index">
			<div class="index_lunbo1">
				<lunbo></lunbo>
			</div>
			<img src="../images/翔坤集团_01.png" class="index_banner_left"/>
			<img src="../images/翔坤集团_03.png" class="index_banner_right"/>
		</div>
		<div id="index_nav">
			<ul>
				<li>
					<h3>在线测评</h3>
					<i class="glyphicon glyphicon-star-empty"></i>
					<p><a href="javascript:;">如何测评</a>  |  <a href="javascript:;">进入测评</a></p>
				</li>
				<li>
					<h3>在线学习</h3>
					<i class="glyphicon glyphicon-file"></i> 
					<p><a href="javascript:;">登录个人中心</a>  |  <a href="javascript:;">开始学习</a></p>
				</li>
				<li>
					<h3>在线就业</h3>
					<i class="glyphicon glyphicon-asterisk"></i> 
					<p><a href="javascript:;">发布个人简历</a>  |  <a href="javascript:;">搜索招聘</a></p>
				</li>
				<li>
					<h3>在线测评</h3>
					<i class="glyphicon glyphicon-off"></i>
					<p><a href="javascript:;">如何测评</a>  |  <a href="javascript:;">进入测评</a></p>
				</li>
			</ul>
		</div>
		<div id="index_study">
			<h2>
				<span>在线学习</span>                  
				<a href="javascript:;">生活家居</a>
				<a href="javascript:;">职场提升</a>
				<a href="javascript:;">实用软件</a>
				<a href="javascript:;">IT与互联网</a>
				<a href="javascript:;">外语学习</a>
				<a href="javascript:;">兴趣爱好</a>
				<a href="javascript:;"><img src="../images/zhuan-jia_03.png"/></a>
			</h2>
			<div class="index_study_left">
				<h5><span>精选面试题</span><a href="javascript:;"><img src="../images/zhuan-jia_03.png"/></a></h5>
				<ul>
					<li><a href="javasccript:;">xhtml和html有什么区别?</a></li>
					<li><a href="javasccript:;">CSS引入的方式有哪些?</a></li>
					<li><a href="javasccript:;">css的基本语句构成是。</a></li>
					<li><a href="javasccript:;">描述css reset的作用和用途。</a></li>
					<li><a href="javasccript:;">解释css sprites，如何使用。</a></li>
					<li><a href="javasccript:;">ajax请求的时候get和post方式的区别。</a></li>
					<li><a href="javascript:;">事件绑定和普通事件有什么区别。</a></li>
					<li><a href="javascript:;">什么是语义化的HTML?</a></li>
				</ul>
			</div>
			<div class="index_study_right">
				<ul>
					<li>
						<img src="../images/翔坤集团_09.png"/>
						<p>成为HR专家的75门必修课</p>
						<p>HRBar专业人力资源培训</p>
						<button class="index_study_right_jinru">进入课堂</button>
					</li>
					<li>
						<img src="../images/翔坤集团_11.png"/>
						<p>UAndroid平台2048游戏完整项...</p>
						<p>HRBar专业人力资源培训</p>
						<button class="index_study_right_jinru">进入课堂</button>
					</li>
					<li>
						<img src="../images/翔坤集团_13.png"/>
						<p>UGC用户内容类网站运营 2人转</p>
						<p>路人甲 is 第1代中国水军女born猫扑,网络品牌传播专家，种子用户；路人乙 is N（年*</p>
						<button class="index_study_right_ing">正在上课</button>
					</li>
				</ul>
				<ul>
					<li>
						<img src="../images/翔坤集团_25.png"/>
						<p>成为HR专家的75门必修课</p>
						<p>HRBar专业人力资源培训</p>
						<button class="index_study_right_jinru">进入课堂</button>
					</li>
					<li>
						<img src="../images/翔坤集团_26.png"/>
						<p>说一口地道的日语so easy</p>
						<p>HRBar专业人力资源培训</p>
						<button class="index_study_right_jinru">进入课堂</button>
					</li>
					<li>
						<img src="../images/翔坤集团_27.png"/>
						<p>【简快悦读-1】这样读书，你...</p>
						<p>HRBar专业人力资源培训</p>
						<button class="index_study_right_jinru">进入课堂</button>
					</li>
				</ul>
			</div>
		</div>
		<div id="index_xinwen">
			<div>
				<div class="index_xinwen_left">
					<h2>
						<span>就业资讯</span>
						<a>上海赛默飞世尔仪器（上海）公司招聘实习生  </a>
						<img src="../images/zhuan-jia_03.png"/>                        
					</h2>
					<ul>
						<li><a href="javascript:;">佛山佛山市南海区信息网络中心2014招聘</a></li>
						<li><a href="javascript:;">北京普天新能源有限责任公司招聘北京运维工程师</a> </li>
						<li><a href="javascript:;">广州阿波罗（中国）有限公司2014招聘</a> </li>
						<li><a href="javascript:;">北京建亿通（北京）数据处理信息有限公司2014招聘</a> </li>
						<li><a href="javascript:;">北京人民日报社下属单位招聘应届生（商务合作）</a></li>
						<li><a href="javascript:;">吉林韩国第一门户网站NAVER招聘Naver Service</a></li>
						<li><a href="javascript:;">上海赛默飞世尔仪器（上海）公司招聘实习生</a></li>
						<li><a href="javascript:;">北京掌上灵通招聘编辑</a></li>
						<li><a href="javascript:;">全国 【英特尔全职招聘】Graphics Software</a></li>
					</ul>
					<ul>
						<li><a href="javascript:;">佛山佛山市南海区信息网络中心2014招聘</a></li>
						<li><a href="javascript:;">北京普天新能源有限责任公司招聘北京运维工程师</a> </li>
						<li><a href="javascript:;">广州阿波罗（中国）有限公司2014招聘</a> </li>
						<li><a href="javascript:;">北京建亿通（北京）数据处理信息有限公司2014招聘</a> </li>
						<li><a href="javascript:;">北京人民日报社下属单位招聘应届生（商务合作）</a></li>
						<li><a href="javascript:;">吉林韩国第一门户网站NAVER招聘Naver Service</a></li>
						<li><a href="javascript:;">上海赛默飞世尔仪器（上海）公司招聘实习生</a></li>
						<li><a href="javascript:;">北京掌上灵通招聘编辑</a></li>
						<li><a href="javascript:;">全国 【英特尔全职招聘】Graphics Software</a></li>
					</ul>
				</div>
				<div class="index_xinwen_right">
					<h2>
						<span>国家政策</span>
						<img src="../images/zhuan-jia_03.png"/>                        
					</h2>
					<ul>
						<li>
							<img src="../images/翔坤集团_36.png" />
							<p>李克强江西考察，称中部地区发展...</p>
							<p>中共中央政治局常委，国务院副总理李克强今日在江...</p>
						</li>
						<li>北京建亿通(北京)数据处理信息有限公司2014招聘</li>
						<li>北京人民日报社下属单位招聘应届生(商务合作)</li>
						<li>吉林韩国第一门户网站NAVER招聘Naver Servic互动产</li>
						<li>上海赛默飞世尔仪器(上海)公司招聘实习生</li>
						<li>北京人民日报社下属单位招聘应届生(商务合作)</li>
						<li>北京普天新能源有限责任公司招聘北京运维工程师</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="index_interact">
			<div>
				<h2>
					<span>国家政策</span>
					<img src="../images/zhuan-jia_03.png"/> 
				</h2>	
				<div class="index_interact_img">
					<img src="../images/翔坤集团_52.png" class="index_interact_img_left"/>
					<ul>
						<li><a href="javascript:;"><img src="../images/翔坤集团_40.png"/></a></li>
						<li><a href="javascript:;"><img src="../images/翔坤集团_42.png"/></a></li>
						<li><a href="javascript:;"><img src="../images/翔坤集团_44.png"/></a></li>
						<li><a href="javascript:;"><img src="../images/翔坤集团_46.png"/></a></li>
						<li><a href="javascript:;"><img src="../images/翔坤集团_49.png"/></a></li>
					</ul>
					<img src="../images/翔坤集团_44.png" class="index_interact_img_center"/>
					<img src="../images/翔坤集团_55.png" class="index_interact_img_right"/>
				</div>
			</div>	
		</div>
	</div>
